.container{
    text-align: center;
    text-decoration: none;
}

button{
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;

    &:hover {
        background-color: #196c1d;
    }

}

.delete{
    background-color: #f44336;
    &:hover {
        background-color: #b22222;
    }
}

table{
    margin: auto;
}

.page-nav{
    text-decoration: none;
    display: inline-flex;
    justify-content: center;

    input{
        margin : 10px;
        margin-right: 0px;
        width: 50px;
    }
}

.small-btn{
    padding: 2px 2px;
    margin: 2px 2px;
}

.close{
    text-align: right;
    background-color: rgb(210, 210, 210);
    span{
      padding-right: 1%;
      color: gray;
      cursor: pointer;
    }
  }

  .disabled{
    background-color: #848484;

    &:hover {
        background-color: #848484;
        cursor: not-allowed;
    }
  }

  table{
    width: 60%;
    text-align: left;
  }
  th:nth-child(1){
    width: 5%;
  }
    th:nth-child(2){
        width: 25%;
    }
    th:nth-child(3){
        width: 40%;
    }
    th:nth-child(4){
        width: 20%;
    }
    th:nth-child(5){
        width: 10%;
    }


    .row-selected{
        background-color: #cecece;
    }

    td {
        padding: 2px;
    }

    .search-input{
        width: 60%;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .pages{
        display: flex;
        justify-content: center;
        margin-top: 10px;
        border-radius: 50%;
        width: 40px;
        height: 40px;
        font-size: larger;
        flex-direction: row;
        align-items: center;
    }

    .footer-container{
        text-align: center;
        position: relative;

        .del-container{
            display: inline-block;
            position: absolute;
            left: 20%;
            top: 10px;
            margin-left: 5%;
            button{
                background-color: #f44336;
                border-radius: 30px;
            }
        }
    }