<div class="container">
  <div class="row">
    <input 
    [ngClass]="'search-input'" 
    type="text" 
    [(ngModel)] = "searchText" 
    (ngModelChange)="filterSearch()" 
    [placeholder]="'Search and filter with name, email or role.'"
    />
    </div>
  <table class="table-container">
    <thead>
      <tr>
        <th><input [type]="'checkbox'" [checked]="selectAll" (change)="selectAll=!selectAll"></th>
        <th>
          Name
        </th>
        <th>
          Email
        </th>
        <th>
          Role
        </th>
        <th>
          Actions
        </th>
      </tr>
    </thead>
      <tbody>
          <tr *ngFor="let property of currProperties" [ngClass]="{'row-selected': property.isSelected || selectAll}">
            <td>
              <input [type]="'checkbox'" [checked]="property.isSelected || selectAll" (change)="property.isSelected=(!property.isSelected)">
            </td>
            <td>
              {{property.name}}
            </td>
            <td>
              {{property.email}}
            </td>
            <td>
              {{property.role}}
            </td>
            <td [ngStyle]="{'text-align':'center'}">
              <button ngClass="delete small-btn" (click)="deleteProperty(property.Id)">
                Delete
              </button>
            </td>
          </tr>
      </tbody>
  </table>
    <div class="footer-container">
      <div class="del-container">
        <button>Delete Selected</button>
      </div>
        <div class="page-nav">
          <div><button [disabled]="currPage==1" [ngClass]="{'disabled':currPage==1,'pages':true}" (click)="gotoPage(1)">&lt;&lt;</button></div>
          <div><button [disabled]="currPage==1" [ngClass]="{'disabled':currPage==1,'pages':true}" (click)="gotoPage(currPage-1)">&lt;</button></div>
          <div *ngFor="let page of getCounter(totalPages);let i=index">
            <button [ngClass]="'pages'" [disabled]="currPage==(1+i)" (click)="gotoPage(1+i)">{{1+i}}</button>
          </div>
          <div><button [disabled]="currPage==totalPages" [ngClass]="{'disabled':currPage==totalPages,'pages':true}" (click)="gotoPage(currPage+1)">&gt;</button></div>
          <div><button [disabled]="currPage==totalPages" [ngClass]="{'disabled':currPage==totalPages,'pages':true}" (click)="gotoPage(totalPages)">&gt;&gt;</button></div>
        </div>
    </div>
</div>